.fullBleed {
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat !important;
}

.tile {
    background-size: auto 50%;
}

body {
    background-color: #2D2926;
    background-image: url('img/smiley.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center 100px;
}

#fit {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.menu {
    background: #f0ede5;
}

.logo {
    width: 400px;
    max-width: 100% !important;
}

@media (min-width:768px) {
    html,
    body {
        overflow: hidden;
    }
    .shot {
        height: Calc(100% - 66px) !important;
        bottom: 0;
        align-self: flex-end;
    }
    #fit {
        width: fit-content;
    }
}

@media (max-width:768px) {
    /* .shot:first-of-type {
        margin-top: 10px;
    } */
    .shot {
        width: auto;
        height: 100%;
    }
    .menu {
        padding: 0;
    }
}