.fullBleed {
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat !important;
}

.tile {
    background-size: auto 50%;
}

body {
    background-color: #2D2926;
}

#fit {
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

html,
body {
    overflow: hidden;
}